name: Concurrency 1
run-name: concurrency 1 (${{ inputs.environment }})
on: 
    workflow_dispatch:
        inputs:
            environment:
                description: 'Select the environment to run the workflow in'
                required: true
                default: 'staging'
                type: choice
                options:
                    - staging
                    - production

concurrency:
    group: ${{ github.event.inputs.environment }}
    cancel-in-progress: true
jobs:
    sleep: 
        runs-on: ubuntu-latest
        steps:
            - run: sleep 10

       
# this concurrecy example cancels any in-progress runs when a new run is triggered